@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Poiret+One');
body {
  font-family: 'Poiret One', cursive;
}
.navbarItem {
  color: gold;
  font-size: 1.5em;
}
.navbarItem:hover {
  color: goldenrod;
  text-decoration: none;
}
.navbar li {
  padding: 10px 0;
  width: 50%;
}
.firstItem {
  border-right: 2px solid gold;

}
.contactContainer {

}
.contactCard {
  margin-bottom: 40px;
  margin-right: 10px;
  border: 1px solid rgba(167, 171, 177, 0.45);
  border-radius: 20px;
  padding: 20px;
}
h1 {
  font-size: 1.5em;
  margin-top: 40px;
}
input {
  margin: 10px;
}
button {
  background-color: transparent;
}
button:hover {
  cursor: pointer;
}
.btn-md {
  font-weight: bold;
}
.btn-md:hover {
  color: rgb(89, 233, 124) !important;
}
li {
  list-style-type: none;
}

.infos {
  font-weight: bold;
  font-size: 18px;
}

.editButton {
  padding-right: 10px;
}

.editForm {
  width: 100%;
  background-image: url('./images/background_editForm.jpg');
}
.contactInput {
  margin: 40px auto;
  background-color: transparent;
}
.contactInput:focus {
  background-color: transparent;
  border-color: rgb(226, 110, 26);
  box-shadow: 0 0 0 0.2rem rgba(226, 110, 26, .25)
}
#bg-video {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
