input {
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

li {
  margin: 20px auto;
  list-style-type: none;
}

.infos {
  font-weight: bold;
  font-size: 18px;
}

.editButton {
  padding-right: 10px;
}

.editForm {
  width: 100%;
}
.contactInput {
  margin: auto;
}
